<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231941261987-k5ltsgkd3mcsf7egh8keetanqh59qbtu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231941261987-k5ltsgkd3mcsf7egh8keetanqh59qbtu</string>
	<key>API_KEY</key>
	<string>AIzaSyAAzj0eQaYTI9D6caqltAIE30Tv9t0SLeg</string>
	<key>GCM_SENDER_ID</key>
	<string>231941261987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akuper.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-8fda0</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-8fda0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231941261987:ios:e2f47fe173acb13cdf0d16</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-8fda0.firebaseio.com</string>
</dict>
</plist>